    <div class="row">
	    <div class="form-inline span11">  
			  <%= content_tag(:div) do content_tag(:b,"Name: ") + @tenant.name end %> 
			  <%= content_tag(:div) do content_tag(:b,"Subdomain: ") + @tenant.subdomain end %>
			</div>
		</div>

		<br><br>
		<div class="row">
			Widgets go Here.
		</div>