<!-- if signed_in? -->
<% if 1 != 1 %>
  <div class="row">
    TODO: User Dashboard Goes Here.
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to my test page</h1>

    <h2>
      This is the home page for testing a variety of paging methods     
    </h2>

    <div>
      <%= link_to "Paging", tenants_path %>
    </div>

    <div>
      <%= link_to "Infinite Scrolling", entries_path, data: { type: :html} %>
    </div>

  </div>

<% end %>